<style>
    .classSelect {
        width: 60%;
        padding: 5px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    input {
        width: 60%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 3px;
        margin: 8px 0;
    }
</style>

{% extends 'main-layout.html' %} {% block title %} Schedule Exams {% endblock title %}


<!--page content-->
{% block content %}

<a href="{% url 'exams' %}" style="color: #ff834f;">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
</a>

<!--header for schedule exam settings-->
<h2>Create Exam</h2>
<hr>
<p class="text-center" style="color: black;"><b><u>Exam Settings</u></b></p>
<div class="row">
    <div class="col-md-6">
        <b>Exam Name</b>: <input id="examName" name="examName" type="text" placeholder="Enter exam name" required>
    </div>
    <div class="col-md-6">
        <b>Select Class</b>:
        <select class="classSelect" name="selectedClass" id="selectedClass" required>
            <option value="OOP">OOP</option>
            <option value="ISE">ITSE</option>
        </select>
    </div>
    <br><br>
    <div class="col-md-6">
        <b>Start Date</b>: <input required type="datetime-local" name="startTime" id="startTime" style="margin-left:15px">
    </div>
    <div class="col-md-6">
        <b>End Date</b>: <input required type="datetime-local" name="endTime" id="endTime" style="margin-left:25px">
    </div>
</div>
<hr>
<!--end of header schedule exam settings-->

<!--adding questions for exam-->
<p class="text-center" style="color: black;"><b><u>Exam Questions</u></b></p>

<!--question-->
<div class="jumbotron questDiv1">
    <label class="text-bold" for="question"><strong>Question 1:</strong></label>
    <input id="question" type="textarea" name="question[]" class="form-control" placeholder="Enter question here" required>

    <br>

    <label class="text-bold" for="correctAnswer"><strong>Correct Answer:</strong></label>
    <input id="correctAnswer" type="textarea" name="correctAnswer[]" class="form-control" placeholder="Enter question here" required>
    <br>

    <label class="text-bold" for="questionMarks"><strong>Question Marks:</strong></label>
    <input id="questionMarks" type="textarea" name="questionMarks[]" class="form-control" placeholder="Enter question here" required>
    <br>

    <label class="text-bold" for="selectedClass"><strong>Question Type:</strong></label>
    <select class="form-control" name="selectedClass[]" id="selectedClass" required onchange="mcqOptions(this.value)">
        <option value="Descriptive1" selected>Descriptive</option>
        <option value="MCQs1">MCQs</option>
    </select>
    <br>

</div>

<hr>
<button type="button" class="btn btn-danger" onclick="deleteQuestion()" style="float: right;">Delete question</button>
<button type="button" onclick="addQuestion()" class="btn btn-primary" style="color: #fff; background: #ff834f">
    Add question
</button>
<button type="submit" class="btn btn-success">Create Exam</button>
<!--Ending adding questions for exams-->



{% endblock content %} {% block script_files %}

<script>
    i = 0;
    j = 0;
    qNumber = 1;

    function mcqOptions(questType) {
        var currentQuestion = questType.match(/\d+$/)[0];

        if (questType == 'MCQs' + currentQuestion + '') {
            $(".questDiv" + currentQuestion + "").append("<ol id='mcqOption" + currentQuestion + "'>" +
                "<li style='padding:5px'><div class='input-group'> " +
                "<input type='text' name='options" + currentQuestion + "[]' placeholder='Enter option here' style='width:20%'> &nbsp;" +
                "<span class='input-group-btn'>" +
                "<button type='button' class='btn btn-info addOption' name='addOption' id='addOption' onclick='addOption(" + currentQuestion + ")'><i class='fa fa-plus' aria-hidden='true'></i></button>" +
                "</span>" +
                "</div>" +
                "</li></ol> ");
            i++;
        } else {
            $("#mcqOption" + currentQuestion + "").remove();
        }
    }


    function addOption(currentQ) {
        $("#mcqOption" + currentQ + "").append("" +
            "<li style='padding:5px'><div class='input-group'> " +
            "<input type='text' name='options" + currentQ + "[]' placeholder='Enter option here' style='width:20%'> &nbsp;" +
            "<span class='input-group-btn'>" +
            "<button type='button' class='btn btn-danger removeOption' name='removeOption' id='removeOption" + i + " ' onclick='removeOption(this)'><i class='fa fa-remove' aria-hidden='true'></i></button>" +
            "</span>" +
            "</div>" +
            "</li></ol> ");
        i++;
    }

    function removeOption(btn) {
        btn.parentNode.parentNode.parentNode.remove()
    }

    function addQuestion() {
        if (qNumber == 1) {
            $(".questDiv1").after('<hr class="line' + (qNumber + 1) + '">' +
                '<div class="jumbotron questDiv' + (qNumber + 1) + '">' +
                '<label class="text-bold" for="question"><strong>Question ' + (qNumber + 1) + ':</strong></label>' +
                '<input id="question" type="textarea" name="question[]" class="form-control" placeholder="Enter question here" required>' +

                '<br>' +

                '<label class="text-bold" for="correctAnswer"><strong>Correct Answer:</strong></label>' +
                '<input id="correctAnswer" type="textarea" name="correctAnswer[]" class="form-control" placeholder="Enter question here" required>' +
                '<br>' +

                '<label class="text-bold" for="questionMarks"><strong>Question Marks:</strong></label>' +
                '<input id="questionMarks" type="textarea" name="questionMarks[]" class="form-control" placeholder="Enter question here" required>' +
                '<br>' +

                '<label class="text-bold" for="selectedClass"><strong>Question Type:</strong></label>' +
                '<select class="form-control" name="selectedClass[]" id="selectedClass" required onchange="mcqOptions(this.value)">' +
                '    <option value="Descriptive' + (qNumber + 1) + '" selected>Descriptive</option>' +
                '    <option value="MCQs' + (qNumber + 1) + '">MCQs</option>' +
                '</select>' +
                '<br>' +

                '</div>');
            qNumber++;
        } else {
            $(".questDiv" + qNumber + "").after('<hr class="line' + (qNumber + 1) + '">' +
                '<div class="jumbotron questDiv' + (qNumber + 1) + '">' +
                '<label class="text-bold" for="question"><strong>Question ' + (qNumber + 1) + ':</strong></label>' +
                '<input id="question" type="textarea" name="question[]" class="form-control" placeholder="Enter question here" required>' +

                '<br>' +

                '<label class="text-bold" for="correctAnswer"><strong>Correct Answer:</strong></label>' +
                '<input id="correctAnswer" type="textarea" name="correctAnswer[]" class="form-control" placeholder="Enter question here" required>' +
                '<br>' +

                '<label class="text-bold" for="questionMarks"><strong>Question Marks:</strong></label>' +
                '<input id="questionMarks" type="textarea" name="questionMarks[]" class="form-control" placeholder="Enter question here" required>' +
                '<br>' +

                '<label class="text-bold" for="selectedClass"><strong>Question Type:</strong></label>' +
                '<select class="form-control" name="selectedClass[]" id="selectedClass" required onchange="mcqOptions(this.value)">' +
                '    <option value="Descriptive' + (qNumber + 1) + '" selected>Descriptive</option>' +
                '    <option value="MCQs' + (qNumber + 1) + '">MCQs</option>' +
                '</select>' +
                '<br>' +

                '</div>');
            j++;
            qNumber++;
        }
    }

    function deleteQuestion() {
        if (qNumber != 1) {

            $(".questDiv" + qNumber + "").remove();
            $(".line" + qNumber + "").remove();
            qNumber--;
        }
    }
</script>
{% endblock script_files %}
<!---->